/microdados_censo_da_educacao_superior_1995
/microdados_censo_da_educacao_superior_1995.zip
/microdados_censo_da_educacao_superior_1996
/microdados_censo_da_educacao_superior_1996.zip
/microdados_censo_da_educacao_superior_1997
/microdados_censo_da_educacao_superior_1997.zip
/microdados_censo_da_educacao_superior_1998
/microdados_censo_da_educacao_superior_1998.zip
/microdados_censo_da_educacao_superior_1999
/microdados_censo_da_educacao_superior_1999.zip
/microdados_censo_da_educacao_superior_2000
/microdados_censo_da_educacao_superior_2000.zip
/microdados_censo_da_educacao_superior_2001
/microdados_censo_da_educacao_superior_2001.zip
/microdados_censo_da_educacao_superior_2002
/microdados_censo_da_educacao_superior_2002.zip
/microdados_censo_da_educacao_superior_2003
/microdados_censo_da_educacao_superior_2003.zip
/microdados_censo_da_educacao_superior_2004
/microdados_censo_da_educacao_superior_2004.zip
/microdados_censo_da_educacao_superior_2005
/microdados_censo_da_educacao_superior_2005.zip
/microdados_censo_da_educacao_superior_2006
/microdados_censo_da_educacao_superior_2006.zip
/microdados_censo_da_educacao_superior_2007
/microdados_censo_da_educacao_superior_2007.zip
/microdados_censo_da_educacao_superior_2008
/microdados_censo_da_educacao_superior_2008.zip
/microdados_censo_da_educacao_superior_2009
/microdados_censo_da_educacao_superior_2009.zip
/microdados_censo_da_educacao_superior_2010
/microdados_censo_da_educacao_superior_2010.zip
/microdados_censo_da_educacao_superior_2011
/microdados_censo_da_educacao_superior_2011.zip
/microdados_censo_da_educacao_superior_2012
/microdados_censo_da_educacao_superior_2012.zip
/microdados_censo_da_educacao_superior_2013
/microdados_censo_da_educacao_superior_2013.zip
/microdados_censo_da_educacao_superior_2014
/microdados_censo_da_educacao_superior_2014.zip
/microdados_censo_da_educacao_superior_2015
/microdados_censo_da_educacao_superior_2015.zip
/microdados_censo_da_educacao_superior_2016
/microdados_censo_da_educacao_superior_2016.zip
/microdados_censo_da_educacao_superior_2017
/microdados_censo_da_educacao_superior_2017.zip
/microdados_censo_da_educacao_superior_2018
/microdados_censo_da_educacao_superior_2018.zip
/microdados_censo_da_educacao_superior_2019
/microdados_censo_da_educacao_superior_2019.zip
/microdados_censo_da_educacao_superior_2020
/microdados_censo_da_educacao_superior_2020.zip
/microdados_censo_da_educacao_superior_2021
/microdados_censo_da_educacao_superior_2021.zip
/microdados_censo_da_educacao_superior_2022
/microdados_censo_da_educacao_superior_2022.zip